<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1">
    <title>TP 2 - Tito Benjamin</title>
  </head>
  <body>
    <p><b>Cadena Ingresada: </b><span th:text="${procesoString.cadena}"></span></p>
    <p><b>Cadena Invertida: </b><span th:text="${procesoString.cadenaInvertida}"></span></p>
    <p><b>Mensaje 1: </b><span th:text="${procesoString.mensaje1}"></span></p>
	<p><b>Mensaje 2: </b><span th:text="${procesoString.mensaje2}"></span></p>
  </body>
</html>